defaults:
  - _self_
  # - local_rank: 0
  - model: csa
  - model/speech_encoder@audio_preprocessor: wav2vec2_preprocessor
  - model/speech_encoder: wav2vec2
  - model/text_encoder@text_preprocessor: bert_preprocessor
  - model/text_encoder: bert
#  - deepspeed@deepspeed_config_yaml: ds_config_stage3
  - deepspeed@deepspeed_config_yaml: ds_config_stage2
#  - deepspeed@deepspeed_config_yaml: ds_config_stage1
  - dataset: librispeech


deepspeed: true
local_rank: 0

train:
  seed: 123456
  epochs: 100
