defaults:
  - _self_
  # - local_rank: 0
  - model: csa
  - model/speech_encoder@audio_preprocessor: wav2vec2_preprocessor
  - model/speech_encoder: wav2vec2
  - model/text_encoder@text_preprocessor: bert_preprocessor
  - model/text_encoder: bert
#  - deepspeed@deepspeed_config_yaml: ds_config_stage3
  - deepspeed@deepspeed_config_yaml: ds_config_stage2
#  - deepspeed@deepspeed_config_yaml: ds_config_stage1
  - dataset: librispeech


deepspeed: true
local_rank: 0

train:
  seed: 123456
  epochs: 100
  deterministic: true
  cudnn_benchmark: false
  enable_eta_logging: true
  eta_distributed_mode: rank0
  eta_min_samples: 10
  startup_metadata_enabled: true
  startup_metadata_config_filename: resolved_config.yaml
  startup_metadata_context_filename: run_context.json
  startup_metadata_git_max_status_lines: 200
  data:
    num_workers: 2
    pin_memory: true
    prefetch_factor: 2
    persistent_workers: true
